---
import WhHeader from './WhHeader.astro';
---

<WhHeader />

<h2>About me</h2>

<p><strong>Who is this woman of mystery, Finley Baker?</strong></p>

<p>
  Supposedly she was born in a mental institution. She was one of the authors of
  the Port Huron Statement. The original Port Huron Statement, not the
  compromise second draft. She got bored one day and put everything on a bagel.
</p>

<p>
  She likes talking about herself in the third person and loves obscure movie
  quotes.
</p>

<p>
  In all seriousness, I'm a design engineer with a focus on the Indieweb. I have
  over 12 years of experience as a developer at a big company.
</p>

<p>I currently live in Denver, CO with my cat Stella.</p>
