<style>
section#hero-section {
  margin-top: 20vh;
  margin-bottom: 20vh;

  > h1#hero {
    border-top: none;
    font-family: var(--font-pilcrow-rounded);
  }
}
</style>

<main class="content-area">
  <section id="hero-section" aria-labelledby="hero">
    <h1 id="hero">
      I'm Finley J Baker,<br>
      design engineer.
    </h1>
  </section>
</main>
