---
---

<style>
hgroup {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
  text-shadow:
    0 0 10px oklch(from var(--text-color) l c h / 0.5),
    0 0 15px oklch(from var(--text-color) l c h / 0.3),
    0 0 20px oklch(from var(--text-color) l c h / 0.1);

  p {
    font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  h1 {
    font-size: clamp(3rem, 2.6rem + 2vw, 5rem);
    font-family: "Zodiak", sans-serif;
    font-weight: 650;
  }
}
</style>

<hgroup>
  <h1>Finley J Baker</h1>
  <p>Programmer and designer</p>
</hgroup>
