<style>
nav {
  line-height: 1.5;
  width: max(50ch, calc(70% + 100px));

  > * + * {
    margin-block-start: 1.5rem;
  }

  > h2 {
    /* 18px at 320px viewport */
    /* 28px at 1920px viewport */
    font-size: clamp(1.125rem, 1rem + 0.625vw, 1.75rem);
  }

  > p {
    font-size: 95%;
    margin-bottom: 0;
  }

  > h2 + p {
    margin-block-start: 0;
  }

  p > a {
    font-weight: bold;
    padding-right: 0;
    color: oklch(from var(--color-primary) l calc(c + 0.1) h);
  }
}
</style>

<nav aria-labelledby="nav-header">
  <h2 id="nav-header">Navigation</h2>
  <p>
    I have
    <a href="https://blog.welcomehome.city/" data-astro-prefetch="viewport"
      >a blog</a
    >
    that I host at Bearblog
    <span role="img" class="bear" aria-label="ASCII bear logo">ʕ•ᴥ•ʔ</span>. I
    use this blog to write about engineering, design, and the indie web. This
    was the start of my love of typography and design.
  </p>

  <p>
    If you want to learn more about me, make sure to check out my
    <a href="/about">about me</a>
    page. Everything on that page is 100% true. Swear to God.
  </p>
</nav>
