<header>
  <a class="title" href="/">
    <h1>Welcome Home.</h1>
  </a>
  <nav>
    <p>
      <a href="/">Home</a>
      <a href="https://blog.welcomehome.city">Blog</a>
      <a href="https://blog.welcomehome.city/b/">List</a>
      <a href="https://blog.welcomehome.city/tools">Tools</a>
    </p>
  </nav>
</header>
